
h1{
    color: rgb(5, 95, 95);
}

.globale{
    
    display: flex;
}

/* --------------------------Block Partie------------------------------- */
#GameStart{
   display: none;
}

.form-fieldPartie{

padding-bottom: 80px;
}

.legendaryPartie{
 color: rgb(5, 95, 95);
 border-radius: 2px;

}

/* ----------------------------Block Inscription ----------------------- */
.legendaryInscription{
    
    color: rgb(107, 25, 128);
}

.infoSaisie{
    display: none;
    color: rgb(20, 212, 196);
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#divAvat1, #divJoueur2, #divAvat2 {
    display: none;
}

/* ************************************* */




/* Styles généraux du formulaire */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #bebeda2c;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(155, 147, 147, 0.5);
  }
  .legendary{
    color: rgba(69, 2, 95, 0.322);
    border-color: rgba(69, 2, 95, 0.322);
  }
  .form-field{
    padding: 20px;
  }
  
  /* Styles des champs de saisie */
  input[type="text"]{
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px; 
  }

  #Avatar1, #Avatar2{
    width: 95%;
    border-color: #f0860c;
  }
  
  input{
    width: 95% ;
  }
  /* Styles des labels */
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  /* Styles du champ de saisie de la liste déroulante */
  input[list] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  

  /* Styles du bouton de validation */
  button[type="button"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;
  }
  button[type="button"]:hover{
    background-color: #0f7d91;
  }
  
  /* Styles du bouton d'annulation */
  button[type="reset"] {
    padding: 10px 20px;
    background: linear-gradient(yellowgreen, #4CAF50);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;
  }
  button[type="reset"]:hover{
    background: linear-gradient(to right, green, darkred);
    transition: all 0.2s;
  }
  #reset{
    display: none;
  }
  
  
  /* Styles du fieldset */
  fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
  }
  
  /* Styles de la légende */
  legend {
    font-weight: bold;
    margin-bottom: 10px;
  }

  /* Styles pour les champs en focus */
  input:focus {
    outline: none;
    box-shadow: 0 0 5px #4CAF50;
  }

input:hover{
  border-color: rgba(48, 231, 231, 0.644) !important;
  cursor: pointer;
  transition: all 0.1s;
}





