
h1{
    color: rgb(5, 95, 95);
}

.globale{
    
    display: flex;
}

/* --------------------------Block Partie------------------------------- */
#GameStart{
    display: none;
}

.form-fieldPartie{

padding-bottom: 80px;
}

.legendaryPartie{
 color: rgb(5, 95, 95);
 border-radius: 2px;

}

/* ----------------------------Block Inscription ----------------------- */
.legendaryInscription{
    
    color: rgb(107, 25, 128);
}

.infoSaisie{
    display: none;
    color: rgb(20, 212, 196);
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#divAvat1, #divJoueur2, #divAvat2 {
    display: none;
}

/* ************************************* */




/* Styles généraux du formulaire */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #bebeda2c;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(155, 147, 147, 0.5);
  }
  .legendary{
    color: rgba(69, 2, 95, 0.322);
    border-color: rgba(69, 2, 95, 0.322);
  }
  .form-field{
    padding: 20px;
  }
  
  /* Styles des champs de saisie */
  input[type="text"],
  input[type="password"],
  input[type="date"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
  }
  #langagePrefere {
    width: 90%;
    border-color: #f0860c;
  }
  #langages{
    width: 95% !important;
  }
  
  input{
    width: 95% important;
  }
  /* Styles des labels */
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  /* Styles du champ de saisie de la liste déroulante */
  input[list] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Styles des boutons radio */
  input[type="radio"] {
    margin-right: 5px;
  }
  
  /* Styles du bouton de validation */
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;
  }
  button[type="submit"]:hover{
    background-color: #33ff00;
    transition: all 0.2s;
    transform: scale(1.1);
  }
  
  /* Styles du bouton d'annulation */
  button[type="reset"] {
    padding: 10px 20px;
    background-color: #b36963;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;
  }
  button[type="reset"]:hover{
    background-color: #ff0000;
    transition: all 0.2s;
  }
  
  /* Styles du lien de retour */
  a {
    color: #0000FF;
    text-decoration: none;
    margin-right: 10px;
  }
  
  /* Styles du fieldset */
  fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
  }
  
  /* Styles de la légende */
  legend {
    font-weight: bold;
    margin-bottom: 10px;
  }





/* Styles pour les champs en erreur */
input:invalid {
    border-color: #ff0000;
  }
  
  /* Styles pour les champs en focus */
  input:focus {
    outline: none;
    box-shadow: 0 0 5px #4CAF50;
  }
  
  
  
  /* Contraintes pour le champ "Nom" */
  input[name="nom"]:invalid {
    border-color: #d3abd8a1;
  }
  
  /* Contraintes pour le champ "Prénom" */
  input[name="prenom"]:invalid {
    border-color: #d3abd8a1;
  }
  
  /* Contraintes pour le champ "Date de naissance" */
  input[name="dateNaissance"]:invalid {
    border-color: #d3abd8a1;
  }
  
  /* Contraintes pour le champ "Login" */
  input[name="login"]:invalid {
    border-color: #d3abd8a1;
  }
  
  /* Contraintes pour le champ "Mot de passe" */
  input[name="motDePasse"]:invalid {
    border-color: #d3abd8a1;
  }
  
  /* Contraintes pour le champ "Répéter le mot de passe" */
  input[name="repeteMotDePasse"]:invalid {
    border-color: #d3abd8a1;
  }
  
  /* Styles pour les messages d'erreur */
  .error {
   
    color: rgb(20, 212, 196);
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

#erreurNom, #erreurPrenom, #erreurDate, #erreurPasse, #erreurLangage{
  display: none;
}

input:hover{
  border-color: rgba(48, 231, 231, 0.644) !important;
  cursor: pointer;
  transition: all 0.1s;
}


/* ------------------Decoration dans l'affichage du choix list----------------------------- */
#langagePrefere::-webkit-calendar-picker-indicator {
  display: none;
}

#langagePrefere {
  appearance: none;
  background-image: url('path/to/custom-dropdown-icon.png');
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 20px;
}




